* {
    box-sizing: border-box;
 }
 html, body, main, section, h1, h2, p, span {
    margin: 0;
    padding: 0;
 }
 
 :root{
   --White: hsl(0, 0%, 100%);
   --Light-gray: hsl(212, 45%, 89%);
   --Grayish-blue: hsl(220, 15%, 55%);
   --Dark-blue: hsl(218, 44%, 22%);
 }
 
 body {
    width: 100%;
    min-height: 100vh;
    display: grid;
    place-content: center;
    background-color:var(--Light-gray);
    font-family: 'Poppins', sans-serif;
 }
 .wrapper {
    max-width: 400px;  
    padding: 1rem;
    margin: 1rem;
    background-color: white;
    border-radius: 20px;
 }

 img {
    display: block;
    max-width: 100%;
    background-color: rgb(50, 145, 240) ;
    border-radius: 10px;
 }

 h1{
   padding: 1rem;
   width:100%;
   font-weight: 700;
   font-size: 25px;
   text-align:center;
 }
 p{
   color: var(--Grayish-blue);
   text-align: center;
   font-weight: 400;
   padding-bottom:1.5em;
   padding-left: 1.5em;
   padding-right: 1.5em;
 }

 h2{
   font-size: 15px;
   text-align: center;
 }

 a{
   text-decoration: none;
 }
